%h2 #{l(:label_settings)} : #{h @plugin.name}
#settings
= form_tag({:action => 'plugin'},{:id => :plugin }) do
  .box.tabular
    = render :partial => @partial, :locals => {:settings => @settings}
  = submit_tag l(:button_apply)